<%= form_for(@user_activity, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @user_activity.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@user_activity.errors.count, "error") %> prohibited this user_activity from being saved:</h4>

      <ul>
      <% @user_activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :user, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :role, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :role, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :type, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :type, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.datetime_select :date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :controller, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :controller, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :action, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :action, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :browser, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :browser, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ip_address, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :ip_address, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
