<div class="page-header">
  <%= link_to new_user_activity_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New User activity
  <% end %>
  <h1>Listing user_activities</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>User</th>
            <th>Role</th>
            <th>Type</th>
            <th>Date</th>
            <th>Description</th>
            <th>Controller</th>
            <th>Action</th>
            <th>Browser</th>
            <th>Ip address</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @user_activities) do |user_activity| %>
            <td><%= user_activity.user %></td>
            <td><%= user_activity.role %></td>
            <td><%= user_activity.type %></td>
            <td><%= user_activity.date %></td>
            <td><%= user_activity.description %></td>
            <td><%= user_activity.controller %></td>
            <td><%= user_activity.action %></td>
            <td><%= user_activity.browser %></td>
            <td><%= user_activity.ip_address %></td>
            <td><%= link_to 'Show', user_activity %></td>
        <td><%= link_to 'Edit', edit_user_activity_path(user_activity) %></td>
        <td><%= link_to 'Destroy', user_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
