<div class="page-header">
  <%= link_to user_activities_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_user_activity_path(@user_activity), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show user_activity</h1>
</div>

<dl class="dl-horizontal">
  <dt>User:</dt>
  <dd><%= @user_activity.user %></dd>

  <dt>Role:</dt>
  <dd><%= @user_activity.role %></dd>

  <dt>Type:</dt>
  <dd><%= @user_activity.type %></dd>

  <dt>Date:</dt>
  <dd><%= @user_activity.date %></dd>

  <dt>Description:</dt>
  <dd><%= @user_activity.description %></dd>

  <dt>Controller:</dt>
  <dd><%= @user_activity.controller %></dd>

  <dt>Action:</dt>
  <dd><%= @user_activity.action %></dd>

  <dt>Browser:</dt>
  <dd><%= @user_activity.browser %></dd>

  <dt>Ip address:</dt>
  <dd><%= @user_activity.ip_address %></dd>

</dl>
