<%= form_for(price_letter) do |f| %>
  <% if price_letter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(price_letter.errors.count, "error") %> prohibited this price_letter from being saved:</h2>

      <ul>
      <% price_letter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price_letter_title %>
    <%= f.text_field :price_letter_title %>
  </div>

  <div class="field">
    <%= f.label :price_letter_path %>
    <%= f.text_field :price_letter_path %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
