<p id="notice"><%= notice %></p>

<h1>Price Letters</h1>

<table>
  <thead>
    <tr>
      <th>Price letter title</th>
      <th>Price letter path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @price_letters.each do |price_letter| %>
      <tr>
        <td><%= price_letter.price_letter_title %></td>
        <td><%= price_letter.price_letter_path %></td>
        <td><%= link_to 'Show', price_letter %></td>
        <td><%= link_to 'Edit', edit_price_letter_path(price_letter) %></td>
        <td><%= link_to 'Destroy', price_letter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price Letter', new_price_letter_path %>
