<p id="notice"><%= notice %></p>

<p>
  <strong>Price letter title:</strong>
  <%= @price_letter.price_letter_title %>
</p>

<p>
  <strong>Price letter path:</strong>
  <%= @price_letter.price_letter_path %>
</p>

<%= link_to 'Edit', edit_price_letter_path(@price_letter) %> |
<%= link_to 'Back', price_letters_path %>
