<%= form_for(disipline) do |f| %>
  <% if disipline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disipline.errors.count, "error") %> prohibited this disipline from being saved:</h2>

      <ul>
      <% disipline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :vendor_id %>
    <%= f.number_field :vendor_id %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>

  <div class="field">
    <%= f.label :parent_id %>
    <%= f.number_field :parent_id %>
  </div>

  <div class="field">
    <%= f.label :in_order %>
    <%= f.number_field :in_order %>
  </div>

  <div class="field">
    <%= f.label :logo %>
    <%= f.text_field :logo %>
  </div>

  <div class="field">
    <%= f.label :side_logo %>
    <%= f.text_field :side_logo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
