<p id="notice"><%= notice %></p>

<h1>Disiplines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Vendor</th>
      <th>Category</th>
      <th>Parent</th>
      <th>In order</th>
      <th>Logo</th>
      <th>Side logo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disiplines.each do |disipline| %>
      <tr>
        <td><%= disipline.name %></td>
        <td><%= disipline.vendor_id %></td>
        <td><%= disipline.category %></td>
        <td><%= disipline.parent_id %></td>
        <td><%= disipline.in_order %></td>
        <td><%= disipline.logo %></td>
        <td><%= disipline.side_logo %></td>
        <td><%= link_to 'Show', disipline %></td>
        <td><%= link_to 'Edit', edit_disipline_path(disipline) %></td>
        <td><%= link_to 'Destroy', disipline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disipline', new_disipline_path %>
