<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @disipline.name %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @disipline.vendor_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @disipline.category %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @disipline.parent_id %>
</p>

<p>
  <strong>In order:</strong>
  <%= @disipline.in_order %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @disipline.logo %>
</p>

<p>
  <strong>Side logo:</strong>
  <%= @disipline.side_logo %>
</p>

<%= link_to 'Edit', edit_disipline_path(@disipline) %> |
<%= link_to 'Back', disiplines_path %>
