<%= form_for(brochure) do |f| %>
  <% if brochure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brochure.errors.count, "error") %> prohibited this brochure from being saved:</h2>

      <ul>
      <% brochure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brochure_title %>
    <%= f.text_field :brochure_title %>
  </div>

  <div class="field">
    <%= f.label :brochure_path %>
    <%= f.text_field :brochure_path %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
