<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">

  <span class="ribbon-button-alignment">
    <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
      <i class="fa fa-refresh"></i>
    </span>
  </span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li>Home</li><li>Tables</li><li>Normal Tables</li>
    </ol>
    <!-- end breadcrumb -->

    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

  </div>
  <!-- END RIBBON -->
<% end %>
<div class="content">
  <h3>Role</h3>
  <div class="container-fluid">
    <!-- START DATATABLE 2 -->
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Data Role
            <%= link_to '+ Tambah', new_role_path, class: 'btn btn-primary pull-right' %>
          </div>
          <div class="panel-body">
            <table id="datatable2" class="table table-striped table-hover">
              <thead>
              <tr>
                <th class="text-center" style="width: 50px">No</th>
                <th>Nama</th>
                <th class="text-center" style="width: 100px">Aksi</th>
              </tr>
              </thead>
              <tbody>
              <% @roles.each_with_index do |role, index| %>
                <tr class="gradeX">
                  <td class="text-center"><%= index + 1 %></td>
                  <td><%= role.name %></td>
                  <td class="text-center" style="width: 100px">
                    <%#= link_to '', role, class: 'fa fa-eye btn btn-sm btn-default' %>
                    <%= link_to '', edit_role_path(role), class: 'fa fa-pencil btn btn-sm btn-warning' %>
                    <%= link_to '', role, method: :delete, data: {confirm: "Are You Sure?"}, class: 'fa fa-trash btn btn-sm btn-danger' %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- END DATATABLE 2 -->
  </div>
</div>

