<p id="notice"><%= notice %></p>

<p>
  <strong>Reference name:</strong>
  <%= @reference.reference_name %>
</p>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>
