<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">

  <span class="ribbon-button-alignment">
    <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
      <i class="fa fa-refresh"></i>
    </span>
  </span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li>Home</li>
      <li>Tables</li>
      <li>Normal Tables</li>
    </ol>
    <!-- end breadcrumb -->

    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

  </div>
  <!-- END RIBBON -->
<% end %>

<div class="content">
  <h1>Countries</h1>
  <div class="container-fluid">
    <!-- START DATATABLE 2 -->
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Data Countries
            <%= link_to '+ Tambah', new_country_path, class: 'btn btn-primary pull-right' %>
          </div>
          <div class="panel-body">

            <table id="datatable2" class="table table-striped table-hover">
              <thead>
              <tr>
                <th>Country code</th>
                <th>Country name</th>
                <th colspan="3"></th>
              </tr>
              </thead>

              <tbody>
              <% @countries.each do |country| %>
                <tr>
                  <td><%= country.country_code %></td>
                  <td><%= country.country_name %></td>
                  <td><%= link_to 'Show', country %></td>
                  <td><%= link_to 'Edit', edit_country_path(country) %></td>
                  <td><%= link_to 'Destroy', country, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>