<aside id="left-panel">

  <!-- User info -->
  <div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as it -->

					<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
            <%= image_tag 'avatars/sunny.png', alt: 'me', class: 'online' %>
            <span>
							<%= current_user.name %>
						</span>
            <i class="fa fa-angle-down"></i>
          </a>

				</span>
  </div>
  <!-- end user info -->

  <!-- NAVIGATION : This navigation is also responsive-->
  <nav>
    <!--
    NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul>
      <%= left_menu %>
      <li class="chat-users top-menu-invisible <%= 'open' if current_page?(smart_chat_api_path)%>">
        <a href="#">
          <i class="fa fa-lg fa-fw fa-comment-o"><em class="bg-color-pink flash animated">!</em></i> <span class="menu-item-parent"><%= _('Smart Chat API') %> <sup><%= _('beta') %></sup></span>
          <% if current_page?(smart_chat_api_path) %>
            <b class="collapse-sign"><em class="fa fa-minus-square-o"></em></b>
          <% else %>
            <b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b>
          <% end %>
        </a>
        <ul style="<%= 'display: block' if current_page?(smart_chat_api_path)%>">
          <li>
            <!-- DISPLAY USERS -->
            <div class="display-users">

              <input class="form-control chat-user-filter" placeholder="Filter" type="text">

              <a href="#" class="usr"
                 data-chat-id="cha1"
                 data-chat-fname="Sadi"
                 data-chat-lname="Orlaf"
                 data-chat-status="busy"
                 data-chat-alertmsg="Sadi Orlaf is in a meeting. Please do not disturb!"
                 data-chat-alertshow="true"
                 data-rel="popover-hover"
                 data-placement="right"
                 data-html="true"
                 data-content='
											<div class="usr-card">
												<%= image_tag 'avatars/5.png', alt: 'Sadi Orlaf' %>
												<div class="usr-card-content">
													<h3>Sadi Orlaf</h3>
													<p>Marketing Executive</p>
												</div>
											</div>
										'>
                <i></i>Sadi Orlaf
              </a>

              <a href="#" class="usr"
                 data-chat-id="cha2"
                 data-chat-fname="Jessica"
                 data-chat-lname="Dolof"
                 data-chat-status="online"
                 data-chat-alertmsg=""
                 data-chat-alertshow="false"
                 data-rel="popover-hover"
                 data-placement="right"
                 data-html="true"
                 data-content='
											<div class="usr-card">
												<%= image_tag 'avatars/1.png', alt: 'Jessica Dolof' %>
												<div class="usr-card-content">
													<h3>Jessica Dolof</h3>
													<p>Sales Administrator</p>
												</div>
											</div>
										'>
                <i></i>Jessica Dolof
              </a>

              <a href="#" class="usr"
                 data-chat-id="cha3"
                 data-chat-fname="Zekarburg"
                 data-chat-lname="Almandalie"
                 data-chat-status="online"
                 data-rel="popover-hover"
                 data-placement="right"
                 data-html="true"
                 data-content='
											<div class="usr-card">
												<%= image_tag 'avatars/3.png', alt: 'Zekarburg Almandalie' %>
												<div class="usr-card-content">
													<h3>Zekarburg Almandalie</h3>
													<p>Sales Admin</p>
												</div>
											</div>
										'>
                <i></i>Zekarburg Almandalie
              </a>

              <a href="#" class="usr"
                 data-chat-id="cha4"
                 data-chat-fname="Barley"
                 data-chat-lname="Krazurkth"
                 data-chat-status="away"
                 data-rel="popover-hover"
                 data-placement="right"
                 data-html="true"
                 data-content='
											<div class="usr-card">
												<%= image_tag 'avatars/4.png', alt: 'Barley Krazurkth' %>
												<div class="usr-card-content">
													<h3>Barley Krazurkth</h3>
													<p>Sales Director</p>
												</div>
											</div>
										'>
                <i></i>Barley Krazurkth
              </a>

              <a href="#" class="usr offline"
                 data-chat-id="cha5"
                 data-chat-fname="Farhana"
                 data-chat-lname="Amrin"
                 data-chat-status="incognito"
                 data-rel="popover-hover"
                 data-placement="right"
                 data-html="true"
                 data-content='
											<div class="usr-card">
												<%= image_tag 'avatars/female.png', alt: 'Farhana Amrin' %>
												<div class="usr-card-content">
													<h3>Farhana Amrin</h3>
													<p>Support Admin <small><i class="fa fa-music"></i> Playing Beethoven Classics</small></p>
												</div>
											</div>
										'>
                <i></i>Farhana Amrin (offline)
              </a>

              <a href="#" class="usr offline"
                 data-chat-id="cha6"
                 data-chat-fname="Lezley"
                 data-chat-lname="Jacob"
                 data-chat-status="incognito"
                 data-rel="popover-hover"
                 data-placement="right"
                 data-html="true"
                 data-content='
											<div class="usr-card">
												<%= image_tag 'avatars/male.png', alt: 'Lezley Jacob' %>
												<div class="usr-card-content">
													<h3>Lezley Jacob</h3>
													<p>Sales Director</p>
												</div>
											</div>
										'>
                <i></i>Lezley Jacob (offline)
              </a>

              <%= link_to 'About the API', smart_chat_api_path, class: 'btn btn-xs btn-default btn-block sa-chat-learnmore-btn' %>

            </div>
            <!-- END DISPLAY USERS -->
          </li>
        </ul>
      </li>
    </ul>
  </nav>


			<span class="minifyme" data-action="minifyMenu">
				<i class="fa fa-arrow-circle-left hit"></i>
			</span>

</aside>
